.login-form {
    width: 380px;
    margin: 5px auto;
    font-size: 15px;
}
.login-form form {
    margin-bottom: 20px;   
    box-shadow: 1px 0px 10px rgb(40, 40, 40);
    padding: 30px;
    border-radius: 10px;

}

.form-control,
.btn {
    border-radius: 5px;
}